*, *::before, *::after {
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
html {
    text-rendering: optimizeLegibility;
}

body {
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
}

.attribution {
    background-color: hsl(230, 100%, 99%);
    font-size: 11px;
    text-align: center;
    font-size: 16px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main {
    background-color: hsl(230, 100%, 99%);
    background-image: url(images/bg-pattern.svg);
    background-size: 1440px 500px;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-1 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.price-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
}

.price {
    color: #293356;
    font-size: 32px;
    font-weight: 800;
}

.text-container {
    position: relative;
    z-index: 1;
}

.text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    text-align: center;
}

.text::after {
    position: absolute;
    content: url(images/pattern-circles.svg);
    z-index: -1;
}

.text h1 {
    font-size: 36px;
}

.text p {
    font-size: 19px;
}

.component {
    margin-top: 50px;
    background-color: white;
    width: 600px;
    height: 400px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(150, 148, 148);
    box-shadow: 0px 0px 30px 0px #26c9c44f;
}

/* SLIDER STYLING START */

.slidecontainer {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.slidecontainer--slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: whitesmoke;
    height: 8px;
    border-radius: 50px;
    width: 80%;
}

.slidecontainer--slider::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    background: hsl(174, 86%, 45%);
    background-image: url(images/icon-slider.svg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 20px 2px hsla(174, 86%, 45%, 0.315);
    outline: 0;
}

.slidecontainer--slider::-moz-range-thumb {
    width: 35px;
    height: 35px;
    background: hsl(174, 86%, 45%);
    background-image: url(images/icon-slider.svg);
    background-size: 20px, contain;
    background-repeat: no-repeat;
    background-position: 42% 47%;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 20px 2px hsla(174, 86%, 45%, 0.315);
    outline: 0;
}

.slidecontainer--slider::-webkit-slider-runnable-track {
    background-color: hsl(174, 77%, 80%);
    height: 100%;
    border-radius: 50px;
}

.slidecontainer--slider::-moz-range-progress {
    height: 100%;
    background-color: hsl(174, 77%, 80%);
    border-radius: 50px;
}

/* SLIDER STYLING END */

/* TOGGLE SWITCH STYLING START */

.billing {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
}

.billing :nth-child(3) {
    position: relative;
}

.billing :nth-child(3)::after {
    content: "25% discount";
    position: absolute;
    top: -1px;
    left: 80px;
    background-color: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    width: 100px;
    text-align: center;
    font-size: 12px;
    padding: 2px 0;
    border-radius: 50px;
}

.switch {
    width: 70px;
    height: 30px;
    position: relative;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 3.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: hsl(174, 86%, 45%);
}

input:focus+.slider {
    box-shadow: 0 0 1px hsl(174, 86%, 45%);
}

input:checked+.slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* TOGGLE SWITCH STYLING END */

/* SEPARATOR */

.separator {
    width: 100%;
    border-top: .5px solid gray;
}

/* SEPARATOR */

.details {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100px;
}

.features>*::before {
    content: url(images/icon-check.svg);
    margin-right: 8px;
    text-align: center;
    position: relative;
    bottom: 2px;
}

.btn {
    background-color: hsl(227, 35%, 25%);
    padding: 10px 40px;
    color: hsl(226, 100%, 87%);
    border-radius: 100px;
}

.btn:hover {
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .main {
        background-size: contain;
    }
}

@media only screen and (max-width: 620px) {
    .main {
        background-size: 620px 400px;
    }
    .component {
        width: 500px;
        height: 600px;
    }
    .details {
        flex-direction: column;
        justify-content: space-around;
        height: 180px;
    }
    .row-1 {
        flex-direction: column;
    }
    .pageviews {
        order: 1;
    }
    .slidecontainer {
        order: 2;
    }
    .price-box {
        margin-top: 30px;
        order: 3;
        width: 45%;
    }
    .billing {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .billing :nth-child(3)::after {
        content: "-25%";
        position: absolute;
        top: -25px;
        left: 15px;
        background-color: hsl(14, 92%, 95%);
        color: hsl(15, 100%, 70%);
        width: 50px;
        text-align: center;
        font-size: 12px;
        padding: 2px 0;
        border-radius: 50px;
    }
}

@media only screen and (max-width: 520px) {
    .main {
        background-size: 520px 400px;
    }
    .text h1 {
        font-size: 24px;
    }
    .text p {
        font-size: 17px;
        max-width: 230px;
    }
    .component {
        width: 350px;
    }
    .price-box {
        width: 75%;
    }
}
